nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(112.1deg, rgb(7, 7, 7) 0.7%, rgb(40, 41, 41) 26.1%, rgb(90, 87, 103) 95.7%);
    /* padding: 20px; */
    font-size: 20px;
    font-weight: bold;
    color: aquamarine;
  }
  nav a {
    color: aquamarine;
    text-decoration: none;
    margin: 0 10px;
    font-size: 25px;
   
  }
  nav a:hover{
    color:aquamarine;
  }
  .card-img{
    width: 1000px;
    height: 500px;
  }

  .col-lg-6 image-div{
    width: 1000px;
    height: 1000px;
  }


  .nav-item{
    color: aquamarine;
  }